/** * @author    BOX http://box.agency * @contact   admin@box.agency */
/* ==========================================================================   More Styles   ==========================================================================*/
.loading {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; }

.login_content form input[type="submit"], #content form .submit {
  float: none !important;
  margin-left: 0 !important; }

/* alerts (when validation fails) */
.item .alert {
  float: left;
  margin: 0 0 0 20px;
  padding: 3px 10px;
  color: #FFF;
  border-radius: 3px 4px 4px 3px;
  background-color: #CE5454;
  max-width: 170px;
  white-space: pre;
  position: relative;
  left: -15px;
  opacity: 0;
  z-index: 1;
  transition: 0.15s ease-out; }

.item .alert::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
  border-color: transparent #CE5454 transparent transparent;
  border-style: solid;
  border-width: 11px 7px;
  position: absolute;
  left: -13px;
  top: 1px; }

.item.bad .alert {
  left: 0;
  opacity: 1; }

.post-detail {
  height: 130px;
  overflow: auto;
  padding-left: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc; }

.thumbnail {
  height: auto; }

/*# sourceMappingURL=admin.css.map */
