/**
 * @author    BOX http://box.agency
 * @contact   admin@box.agency
 */

/* ==========================================================================
   Base Styles
   ==========================================================================
*/

@import 'base';


/* ==========================================================================
   Additonal Styles
   ==========================================================================
*/

.hide{
  display: none !important;
}
.show{
  display: block !important;
}
.post-detail{
  height: 130px;
  overflow: auto;
  padding-left: 15px;
  margin-bottom: 15px;
  //box-shadow: inset 0 -1px 3px rgba(0,0,0,0.2);
  border-bottom: 1px solid #ccc;
}
.thumbnail{
  height: auto;
}
