/**
 * @author    Robox
 * @contact   admin@box.agency
 */

$icon-font-path : '../fonts/';
$screen-sm-min: 960px;
$screen-md-min: 1200px;
$screen-lg-min: 1600px;

@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap";

/* ==========================================================================
   Base Styles
   ==========================================================================
*/
.cta-mobile{
  display: block;
}
@import 'base';

/**
 * Helper Variables & Functions
 */

$primary: #c50909;
$second: #000;

$green: #9bcd4c;
$greenTrans: rgba(155, 205, 76, 0);
$yellow: #f0c518;
$yellowTrans: rgba(240, 197, 24, 0);
$orange: #f69a16;
$orangeTrans: rgba(246, 154, 22, 0);
$pink: #d380b3;
$pinkTrans: rgba(211, 128, 179, 0);
$ligntGrey: #a0b2bb;
$ligntGreyTrans: rgba(160, 178, 187, 0);
$maron: #a79589;
$maronTrans: rgba(167, 149, 137, 0);

$font: 'Varela Round', tahoma , helvetica, arial, sans-serif;

/**
 * Additonal Styles
 */

body{
  font: 1.4em/1.4 $font;
  color: #999;
  background-color: #f0f2f4;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
}
::selection {
  background: $primary;
  color: #FFF;
  text-shadow: none;
}
a {
  color: $primary;
  &:hover, &:focus {
    color: $primary;
    text-decoration: none;
  }
}
.hide {
  display: none;
}
.show {
  display: block;
}

.loader{
  background-color: rgba(255,255,255,0.8);
  z-index: 1000000;
  .spinner > div{
    background-color: $primary;
  }
}


//  Modal
//----------------------

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  background: rgba(0, 0, 0, 0.77);
  color: white !important;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: absolute;
  right: -30px;
  top: -30px;
  text-shadow: none;
  @media (max-width: 960px) {
    &{
      right: 10px;
      top: 5px;
      z-index: 1000;
      opacity: 0.5;
    }
  }
}
.modal-btns .btn{
  border-radius: 30px;
  padding: 9px 30px 5px;
  text-transform: uppercase;
  width: 48%;
  float: left;
  &:hover{
    transform: scale(1.05);
  }
  &.btn-success{
    background-color: $green;
    border: none;
    float: right;
  }
  &.btn-primary{
    background-color: $ligntGrey;
    border: none;
  }
}

.modal-content{
  border-radius: 15px;
  border: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 60px auto;
  }
}

#actionDetail .modal-content{
  background: transparent;
}

#addPostModal{
  .control-label{
    width: 100%;
    span{
      color: #a0a3a6;
      font-size: 10px;
      text-transform: uppercase;
    }
  }
}

.profile-block{
  background-color: #eee;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  .user-name{
    color: #696f73;
    text-transform: uppercase;
    font-size: 14px;
    margin: 6px 0px 2px;
  }
  .user-email{
    font-size: 11px;
    color: #9a9fa2;
    margin: 0;
  }
}
.profile-picture{
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #FFF;
  img{
    width: 100%;
  }
}
.modal-backdrop{
  background-color: rgba(255,255,255,0.9);
}

.dropzone-wrapper{
  display: block;
  border: 1px dashed #ccc;
  text-align: center;
  border-radius: 5px;
  padding: 10px 20px;
  position: relative;
  cursor: pointer;
  .dropzone-input{
    opacity: 0;
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  > span{
    display: block;
  }
  .file .fa{
    color: #2295e1;
    font-size: 40px;
    margin-bottom: 15px;
    margin-top: 10px;
  }
  .file-name{
    font-size: 12px;
    font-weight: bold;
  }
  .file-size{
    font-size: 10px;
    color: #ccc;
  }
}
.post_media_link{}


//====================================================================
/* Toggle Styles */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 300px;
}

#sidebar-wrapper {
  z-index: 100;
  position: fixed;
  left: 300px;
  box-shadow: 0 0 30px rgba(0,0,0,0.3);
  width: 0;
  height: 100%;
  margin-left: -300px;
  overflow-y: auto;
  background: $primary url("../images/footer-sidebar-image.png") bottom left no-repeat;
  transition: all 0.5s ease;
  .footer{
    color: #f0f2f4;
    background-color: #a71515;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    width: 300px;
  }
  .copyright{
    padding-top: 8px;
    padding-left: 10px;
  }
  .top{
    padding-left: 10px;
    background-color: rgba(0,0,0,0.15);
  }
  .social-pages{
    padding-top: 5px;
    padding-right: 10px;
    a{
      width: 24px;
      height: 24px;
      margin-top: 5px;
      background-color: white;
      text-align: center;
      line-height: 24px;
      color: $primary;
      display: inline-block;
      border-radius: 50%;
    }
  }
  .share{
    padding-top: 5px;
    padding-left: 10px;
    border-left: 2px solid rgba(0,0,0,0.2);
    a{
      padding: 5px 20px;
      margin-top: 5px;
      display: inline-block;
      background-color: white;
      border-radius: 30px;
      color: #999;cursor: pointer;

    }
  }
}

#wrapper.toggled #sidebar-wrapper {
  width: 300px;
}

.sod_select:before, .sod_select:after{
  z-index: 30;
}
.sod_select{
  border-radius: 40px;
  border: none;
  float: right;
  position: relative;
  height: 38px;
  padding-left: 19px;
  .sod_label{
    position: absolute;
    z-index: 32;
    width: 80%;
    background-color: #fff;
  }
  .sod_option{
    transition: all 0.3s ease;
    padding-left: 18px;
    &.active{
      background-color: $primary;
      color: #FFF;
    }
  }
  .sod_list_wrapper{
    border:none;
    display: block;
    height: 0px;
    transition: all 0.3s ease;
    top: 52%;
    left: 3px;
    opacity: 0;
    z-index:30;
    visibility: hidden;
  }
  &.open{
    border-radius: 20px 20px 0 0;
    .sod_list_wrapper{
      height: 263px;
      padding-top: 15px;
      opacity: 1;
      border-radius: 0 0 20px 20px;
      visibility: visible;
    }
  }
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  .listing-header{
    background: url(../images/header.png) repeat-x left bottom;
    height: 140px;
    padding: 10px 30px;
    margin-bottom: 30px;
    .title{
      margin: 0;
      color: #FFF;
      float: left;
      text-transform: uppercase;
      font-size: 20px;
      margin-top: 5px;
      line-height: 20px;
      .sub-info{
        font-size: 14px;
        color: #650b0b;
        text-transform: none;
      }
    }
  }
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -300px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 300px;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  padding-top: 15px;
  background: url(../images/header-white.png) center top no-repeat;
  .main-logo{
  }
  .description{
    color: #FFF;
    margin-top: 60px;
    padding: 10px 20px;
    font-family: tahoma;
    font-size: 16px;
  }
}
.fb-connect{
  padding: 6px 30px;
  background: white;
  color: $primary;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  border-radius: 30px;
  margin-top: 20px;
  &:not(.loading):hover{
    color: $green;
    transform: scale(1.08);
  }
}

@media(max-width:768px) {
  .listing-header .title{
    float: none !important;
  }
  .sod_select{
    margin: 12px auto 0;
    float: none;
    display: block;
  }
}
@media(min-width:768px) {
  #wrapper {
    padding-left: 300px;
  }
  .listing-header{
    height: 80px !important;
  }

  .cta-mobile{
    display: none;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width:300px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

$green: #9bcd4c;
$yellow: #f0c518;
$orange: #f69a16;
$pink: #d380b3;
$ligntGrey: #a0b2bb;
$maron: #a79589;

.card-post{
  padding: 0px;
  background-color: #28abc7;
  border-radius: 10px;
  overflow: hidden;
  display: block;
  border: none;
  transition: all 0.3s ease-out;
  &.cat-1{
    background-color: $green;
    .over-img{
      background: linear-gradient(to bottom, $greenTrans 85%,$green 100%);
    }
  }
  &.cat-2{
    background-color: $yellow;
    .over-img{
      background: linear-gradient(to bottom, $yellowTrans 85%,$yellow 100%);
    }
  }
  &.cat-3{
    background-color: $orange;
    .over-img{
      background: linear-gradient(to bottom, $orangeTrans 85%,$orange 100%);
    }
  }
  &.cat-4{
    background-color: $pink;
    .over-img{
      background: linear-gradient(to bottom, $pinkTrans 85%,$pink 100%);
    }
  }
  &.cat-5{
    background-color: $ligntGrey;
    .over-img{
      background: linear-gradient(to bottom, $ligntGreyTrans 85%,$ligntGrey 100%);
    }
  }
  &.cat-6{
    background-color: $maron;
    .over-img{
      background: linear-gradient(to bottom, $maronTrans 85%,$maron 100%);
    }
  }
  &.list-item {
    cursor: pointer;
    &:hover {
      transform: scale(1.04);
      box-shadow: 0 3px 30px rgba(0, 0, 0, 0.2);
      .pic-wrapper .btn {
        transform: translateY(0px);
        opacity: 1;
      }
    }
    .post-detail{
      height: 88px;
      overflow: hidden;
    }
  }
  .over-img{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    background: linear-gradient(to bottom,  rgba(40,171,199,0) 85%,rgba(40,171,199,1) 100%);
    .modal &{

    }
  }
  .pic-wrapper{
    position: relative;
    overflow: hidden;
    height: 200px;
    background-color: #ccc;
    .modal &{
      height: auto;
    }
    img{
      width: 100%;
    }
    .btn{
      transition: all 0.4s ease-out;
      position: absolute;
      transform: translateY(20px);
      opacity: 0;
      background-color: $primary;
      text-align: center;
      color: white;
      left: calc( 50% - 80px );
      top: calc( 50% - 17px );
      width: 160px;
      border-radius: 30px;
      z-index: 12;
      box-shadow: 0 0 0px 3px rgba(255,255,255,0.3);
    }
  }
  .author-pic{
    width: 25px;
    height: 25px;
    float: left;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #FFF;
    //margin-right: 10px;
  }
  .post-author{
    margin-top: -15px;
    position: absolute;
    z-index: 11;
  }
  .author-name{
    font-weight: bolder;
    float: left;
    text-transform: uppercase;
    color: rgba(0,0,0,0.5);
    margin-left: 10px;
    font-size: 12px;
    small{
      display: block;
      margin-top: -4px;
      color: rgba(255,255,255,0.5);
    }
  }
  .caption {
    color: white;
    padding: 10px 20px 10px;
    position: relative;
    h3{
      font-size: 14px;
      font-weight: bolder;
      margin: 0;
    }
    .post-detail{
      margin-top: 20px;
      h3{
        text-transform: uppercase;
        .modal &{
          font-size: 19px;
          font-weight: bolder;
          margin: 14px 0;
          margin-top: 32px;
          text-align: center;
        }
      }
      p{
        font-size: 12px;
        min-height: 51px;
        .modal &{
          font-size: 14px;
          line-height: 24px;
          margin: 10px 0;
          text-align: center;
        }
      }
    }
  }
  .footer{
    border-top: 1px solid rgba(0,0,0,0.1);
    padding-top: 10px;
  }
  .label-cat{
    color: rgba(0,0,0,0.3);
    float: left;
  }
  .date.label{
    float: right;
    color: rgba(0,0,0,0.3);
  }
}

.cta-mobile{
  background: darken($primary,10%) url(../images/header-white.png) center top no-repeat;
  padding: 15px 10px;
  text-align: center;
  padding-bottom: 30px;
  p{
    margin-top: 40px;
    color: #FFF;
  }
}

.swal2-overlay{
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1090;
}

.pagination{
  border: 0;
  padding: 0;
  margin: 30px auto;
  li{
    &.active span{
      background-color: $primary !important;
      border-color: $primary !important;
    }
    a, span{
      color: darkgray;
      border:0;
      &:hover{
        color: $primary;
      }
    }
  }
  li:first-child span, li:first-child a{
    border-radius: 30px 0 0 30px;
  }
  li:last-child a, li:last-child span{
    border-radius: 0 30px 30px 0;
  }
}

.modal-title{
  text-align: center;
}